<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="" />
    <title>Nyambura-Therapy Cat</title>
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <div class="main-container">
        <div class="input-area">
            <form action="/" class="message-input-form">
                <input type="text" name="text" placeholder="Enter response or question..." />
            </form>
            <i class="ri-send-plane-2-fill chat-icon"></i>
        </div>
    </div>
</body>

</html>