<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="" />
    <title>Nyambura-Therapy Cat</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div class="main-container">
        <div class="main-section">
            <div class="chat-session">
                <div class="chat-header">
                    <h2>Jill - Therapy Cat</h2>
                </div>
                <div class="all-chat">
                    <div class="message-item">
                        <div class="message-content">
                            <h4>Jill</h4>
                            <p>Hi, How are you?</p>
                        </div>
                    </div>
                    <div class="message-item my-message">
                        <div class="message-content">
                            <h4>John</h4>
                            <p>Hi, How are you?</p>
                        </div>
                    </div>
                </div>
                <div class="input-area">
                    <form id="message-input-form" class="message-input-form">
                        <input id="message-input" type="text" name="text" placeholder="Enter response or question..." />
                    </form>
                    <i id="send-icon" class="ri-send-plane-2-fill chat-icon"></i>
                </div>
            </div>
        </div>
    </div>
</body>

</html>